<!--
===============================================================================

  Copyright (c) 2014 Qualcomm Technologies, Inc. All Rights Reserved.
  Qualcomm Technologies Proprietary and Confidential.

===============================================================================
-->

<METACONFIG>
    <is_mrc>False</is_mrc>

    <root_pre>False</root_pre>
    <attest_ca_pre>False</attest_ca_pre>
    <attest_pre>False</attest_pre>

    <root_cert_params>
    C=US
    ST=California
    L=San Diego
    OU=General Use Test Key (for testing only)
    OU=CDMA Technologies
    O=SecTools
    CN=Generated Test Root CA
    </root_cert_params>

    <attest_ca_cert_params>
    C=US
    ST=California
    L=San Diego
    O=SecTools
    CN=Generated Test Attestation CA
    </attest_ca_cert_params>

    <attest_cert_params>
    C=US
    ST=California
    L=San Diego
    O=SecTools
    CN=SecTools Test User
    </attest_cert_params>
</METACONFIG>
