<!--
===============================================================================

  Copyright (c) 2014 Qualcomm Technologies, Inc. All Rights Reserved.
  Qualcomm Technologies Proprietary and Confidential.

===============================================================================
-->

<METACONFIG>
    <l1_file_name>ROT_encryption_key_l1.bin</l1_file_name>
</METACONFIG>
