* text=auto
*.o binary
*.obj binary
*.bin binary
*.lib filter=lfs diff=lfs merge=lfs -text
*.mbn  binary
*.svf binary
tz_chipset.lib filter=lfs diff=lfs merge=lfs -text
tz_common.lib filter=lfs diff=lfs merge=lfs -text
