<!--
===============================================================================

  Copyright (c) 2014 Qualcomm Technologies, Inc. All Rights Reserved.
  Qualcomm Technologies Proprietary and Confidential.

===============================================================================
-->

<METACONFIG>
    <l1_file_name>l1_key.bin</l1_file_name>
    <l2_file_name>l2_key.bin</l2_file_name>
    <l3_file_name>l3_key.bin</l3_file_name>
</METACONFIG>
